* {
    font-family: 'Courier New', Courier, monospace 
}

header {
    text-align: center;
    padding-bottom: 20px;
}

body {
    margin: 0;
    padding: 10px;
}

.card-container {
    display: flex; 
    gap: 10px; 
    justify-content: center; 
}

.card {
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    background: rgba(241, 241, 241, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgb(247, 255, 171);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    color: black;
  }
  
  .card:hover {
    border: 1px solid rgb(247, 255, 171);
    transform: scale(1.05);
  }
  
  .card:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }


/* Mobile styles - full width on screens up to 767px */
@media (max-width: 767px) {
    body {
        background-color: rgb(255, 255, 255); 
        width: 100%;
    }
}

/* Desktop styles - centered content with a max width on screens larger than 767px */
@media (min-width: 768px) {
    body {
        background-color: white; 
        max-width: 1000px; 
        margin: 0 auto; 
    }
}